@import "tailwindcss";
@import "@instello/ui/theme.css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .pattern-diagnol-v3 {
    background-size: 8px 8px;
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-muted-foreground) 0,
      var(--color-muted-foreground) 1px,
      var(--color-muted) 0,
      var(--color-muted) 50%
    );
  }

  .pattern-polka {
    background-color: transparent;
    background-image: radial-gradient(
      color-mix(in oklab, var(--color-accent-foreground) 20%, transparent) 0.5px,
      color-mix(in oklab, var(--color-accent) 20%, transparent) 0.5px
    );
    background-size: 10px 10px;
  }
  .pattern-polka-v2 {
    background-color: transparent;
    background-image:
      radial-gradient(
        color-mix(in oklab, var(--color-muted-foreground) 50%, transparent)
          0.5px,
        transparent 0.5px
      ),
      radial-gradient(
        color-mix(in oklab, var(--color-muted-foreground) 50%, transparent)
          0.5px,
        transparent 0.5px
      );
    background-size: 20px 20px;
    background-position:
      0 0,
      10px 10px;
  }
}
